*{
    background-color: whitesmoke;
}
body {
    background-color: whitesmoke;
}
.button {
    margin-bottom: 1px;
    margin-top: 30px;
    margin-right: 160px;
}
#slect-character{
    float: left;
}

.dorpdownMenu {
    float: left;
    margin-bottom: 40px;
}

.empty-blocks {
    font-size: x-large;
    font-style:italic;
    padding-top: 100px;
    padding-bottom: 100px;
}

.empty-line {
    padding-top: 10px;
    padding-bottom: 70px;
}

.output{
    font-size: xx-large;
    margin-top: 40px;
    margin-bottom: 40px;
    text-decoration-color: red;
    font-style:italic;
    border: 1px;
}
hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.parallax {
    /* The image used */
    background-image: url("../imgs/mic-three.jpg");
    /* Set a specific height */
    height: 300px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-two {
    /* The image used */
    background-image: url("../imgs/mic-three - reversed.jpg");
    /* Set a specific height */
    height: 300px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.rulers-block {
    margin-top: 10px;
    padding-top: 30px;
    height: 500px;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 0%, rgba(40,92,87,1) 0%, rgba(255,255,255,0) 0%, rgba(244,248,243,0.2119384079836728) 35%, rgba(61,133,34,0.9029496439387289) 49%, rgba(34,109,6,1) 64%, rgba(123,57,2,1) 79%, rgba(231,10,0,1) 100%, rgba(255,0,0,0.7596912169724368) 100%);
    font-family: 'Mansalva', cursive;
}
.rulers-block p{
    font-size:xx-large;
}
.ruler-button {
    border-radius: 7px;
    border: 2px;
    background-color: none;
    position: center;
}

/*Ovveride...*/
.font-weight-bold {
    font-size: x-large;
}
.col-sm {
    margin-top: 1px;
    margin-bottom: 5px;
}
.box-shadow {
    box-shadow: 0px -6px 45px -5px rgba(0,0,0,0.61);
}
.col-sm button:hover {
    box-shadow: -2px -3px 71px 15px rgba(0,0,0,0.24);
}