*{
    background-color: whitesmoke;
}
body {
    background-color: whitesmoke;
}
.button {
    margin-bottom: 1px;
    margin-top: 30px;
    margin-right: 160px;
}
#slect-character{
    float: left;
}

.dorpdownMenu {
    float: left;
    margin-bottom: 40px;
}

.empty-blocks {
    font-size: x-large;
    font-style:italic;
    padding-top: 100px;
    padding-bottom: 100px;
}

.empty-line {
    padding-top: 10px;
    padding-bottom: 70px;
}

/*Ovveride...*/
.font-weight-bold{
    font-size: x-large;
}
.col-sm {
    margin-top: 5px;
    margin-bottom: 15px;
}

.box-shadow {
    box-shadow: 0px -6px 45px -5px rgba(0,0,0,0.61);
}
