.button {
    margin-bottom: 1px;
    margin-top: 30px;
    margin-right: 160px;
}
#slect-character{
    float: left;
}

.dorpdownMenu {
    float: left;
    margin-bottom: 40px;
}

.empty-blocks {
    text-decoration:solid;
}