        {{#each monkeys}}
      <div class="monkey">
        <h2>{{this.name}}</h2>
        <img src="{{image}}">
        <button onclick="showInfo(this)">Info</button>
        <p style="display: none" id="{{id}}">
         {{info}}
        </p>
      </div>
      {{/each}}