@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome motherf*ckers'</h1>

        <select id="slect-character">
            <option class="character-type" value="game-heroes">Game Heroes
            </option>
            <option class="character-type" value="famous-people">Famous People</option>
            <option class="character-type" value="movie-characters">Movie Characters</option>
        </select>

        <div class="container-fluid">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Trendy Di 4'20</th>
                        <th scope="col">MC Starshy</th>
                        <th scope="col">Guttman</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <button class="btn btn-outline-secondary" type="button" onclick="newCharacterTrendy()">
                                Choose /\
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-outline-secondary" type="button" onclick="newCharacterStarshey()" )>
                                Choose /\
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-outline-secondary" type="button" onclick="newCharacterGuttman()">
                                Choose /\
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td id="characterDisplayTrendy">
                        </td>
                        <td id="characterDisplayStarshey">
                        </td>
                        <td id="characterDisplayGuttman">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <script src="~/js/site.js"></script>
    </div>
