@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/custom-style.css" />

<div class="text-center">
    <div class="container-fluid">
        <h1 class="display-4">Welcome motherf*ckers'</h1>
        <div class="dorpdownMenu">
            <select id="slect-character" class="custom-select">
                <option value="selec">Choose Type</option>

                <option value="game-heroes">Game Heroes </option>

                <option value="famous-people">Famous People</option>

                <option value="movie-characters">Movie Characters</option>
            </select>
        </div>
    </div>


    <div class="empty-line" style="display:block"></div>

    <div class="container-fluid">

        <div class="row">
            <div class="col-sm" id="rapper-name">
                <p class="font-weight-bold">Trendy Di 4'20</p>
            </div>

            <div class="col-sm" id="rapper-name">
                <p class="font-weight-bold">MC Starshey</p>

            </div>

            <div class="col-sm" id="rapper-name">
                <p class="font-weight-bold">Guttman</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <button class="btn btn-outline-secondary" type="button" onclick="newCharacterTrendy()" text-decoration-color: red;>
                    Choose /\
                </button>
            </div>

            <div class="col-sm">
                <button class="btn btn-outline-secondary" type="button" onclick="newCharacterStarshey()" )>
                    Choose /\
                </button>
            </div>

            <div class="col-sm">
                <button class="btn btn-outline-secondary" type="button" onclick="newCharacterGuttman()">
                    Choose /\
                </button>
            </div>
        </div>


        <div class="row">
            <div class="col-sm">
                <p class="output"> <u id="characterDisplayTrendy">Output here ..</u> </p>
            </div>

            <div class="col-sm">
                <p class="output"> <u id="characterDisplayStarshey">Output here ..</u> </p>
            </div>

            <div class="col-sm">
                <p class="output"> <u id="characterDisplayGuttman">Output here ..</u> </p>
            </div>
        </div>
    </div>

    <div class="container-fluid"> <hr> </div>

    <div class="container-fluid">
        <div class="parallax">Is it good ??</div>
    </div>

    <div class="container-fluid">
        <div class="rulers-block">Rulers mode should be here..</div>
    </div>

    <script src="~/js/site.js"></script>
</div>
